#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.2em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 1em #64afffaa);
}

.textBox {
  max-width: max-content;
  max-height: max-content;
}

.textBox textarea {
  border-radius: 8px;
  padding: 10px;
  background-color: rgb(44, 43, 43);
}

.card {
  padding: 1.2em;
}

.loading {
  display: inline-block;
  margin-top: 10px;
}

.spinner {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #73d0fe;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

